# ----------------------------------------
# Application
# ----------------------------------------
APP_NAME=Task API
APP_ENV=dev/quality/prod

# ----------------------------------------
# Database - shared
# ----------------------------------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_api_dev

# ----------------------------------------
# Database - app user
# ----------------------------------------
DB_APP_USER=task_api_app_dev
DB_APP_PASSWORD=xxxxxx

# ----------------------------------------
# Database - migration user
# ----------------------------------------
DB_MIGRATION_USER=task_api_migrator_dev
DB_MIGRATION_PASSWORD=yyyyyy

# Temporary bootstrap flag for local development.
# Later, with migrations, this should no longer control create_all().
DB_BOOTSTRAP=true