# ----------------------------------------
# Application
# ----------------------------------------
APP_NAME="Task API"
# Possible values: dev, quality, prod
APP_ENV="dev"

# ----------------------------------------
# Database - shared
# ----------------------------------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_api_dev

# ----------------------------------------
# Database - app user
# ----------------------------------------
DB_APP_USER=task_api_app_dev
DB_APP_PASSWORD=your_app_password

# ----------------------------------------
# Database - migration user
# ----------------------------------------
DB_MIGRATION_USER=task_api_migrator_dev
DB_MIGRATION_PASSWORD=your_migration_password

# Temporary bootstrap flag for local development.
# Later, with migrations, this should no longer control create_all().
DB_BOOTSTRAP=true